*-blx.bib
*.acn
*.acr
*.ain
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.pyc
*.rip
*.run.xml
*.snm
*.synctex.gz
*.toc
*.tpt
*~
.~*
Thumbs.db
auto/
2016_Proceedings_ISMIR/articles/
2016_Proceedings_ISMIR/external/tutorials.mhtml
2016_Proceedings_ISMIR/2016_Proceedings_ISMIR.pdf
2016_Proceedings_ISMIR_Electronic_Tools/output/
2016_Proceedings_ISMIR_Electronic_Tools/data/articles_splitted/
2016_Proceedings_ISMIR_Electronic_Tools/data/2016_Proceedings_ISMIR.pdf
